
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-brush:before { content: '\e801'; } /* '' */
.icon-steering-wheel:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */